<div class="container-fluid">

    <div class="row">

        <div class="col-12 col-md-2" style="background-color: #4180C2;">
            <nav>

                <ul class="nav flex-column nav-fill nav-pills">

                    <li class="nav-item mb-2">
                        <a class="nav-link" href="#"><img
                                src="https://blobauroranuevo.blob.core.windows.net/images3d/fxemoji_graduationcap (1).png"
                                alt=""></a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text p-3" href="" routerLink="/detalle">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Question Circle.png"
                                alt="Icon">
                            <span>Detalle Académico</span>
                        </a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text active p-3"
                            style="background-color:rgba(255, 255, 255, 0.2);" href="" routerLink="/informacion">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Form.png" alt="Icon">
                            <span><strong>Información Beca</strong></span>
                        </a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text p-3" href="#" routerLink="/reporte-academico">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Data Trending (1).png"
                                alt="Icon">
                            <span>Reporte Rendimiento</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <div class="d-flex justify-content-center m-5">
                <button type="button" class="btn text-white rounded-circle" data-bs-toggle="modal"
                    data-bs-target="#showNot" style="background-color: rgba(255, 255, 255, 0.1);">
                    <i class="bi bi-bell"></i>
                </button>
            </div>
        </div>

        <div class="col-12 col-md-10" style="background-color: #F3F3F3;">
            <form #myForm="ngForm">
                <div class="card mt-4 mb-5">
                    <div class="card-header">

                        <strong>Información de Periodo de Beca</strong>

                    </div>
                    <div class="row card-body g-0">

                        <div class="col-12 col-md-8">
                            <!--Donde-->


                            <div class="row mb-3">
                                <div class="col-12 col-md-3">
                                    <label class="form-label" style="color: #636363 ;">Nombres y Apellidos: </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" class="form-control" [(ngModel)]="nombre_completo"
                                        name="nombre_completo" id="nombre_completo" readonly [disabled]="true">
                                </div>

                            </div>


                            <div class="row mb-3">
                                <div class="col-12 col-md-3">
                                    <label class="form-label" style="color: #636363;">N° Doc. Identidad: </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" class="form-control" [(ngModel)]="dni" id="dni" name="dni"
                                        readonly [disabled]="true">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-12 col-md-3">
                                    <label class="form-label" style="color: #636363;">Institución: </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" class="form-control disabled" [(ngModel)]="institucion_nombre"
                                        name="institucion_nombre" readonly id="institucion_nombre" [disabled]="true">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <div class="col"><label class="form-label" style="color: #636363;">Fecha
                                                Inicio:</label></div>
                                        <div class="col"><input type="date" class="form-control"
                                                [(ngModel)]="fecha_inicio" name="fecha_inicio" id="fecha_inicio" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <div class="col"><label class="form-label" style="color: #636363;">Fecha Fin
                                                Estimada:</label></div>
                                        <div class="col"><input type="date" class="form-control"
                                                [(ngModel)]="fecha_fin_estimada" name="fecha_fin_estimada"
                                                id="fecha_fin_estimada" required></div>
                                    </div>
                                </div>
                            </div>
                            <!--Donde-->


                            <div class="row custom-file-button mb-3">
                                <div class="col-3">
                                    <label class="form-label" style="color: #636363;">Contrato: </label>
                                </div>
                                <div class="col-9">
                                    <div class="input-group">
                                        <input type="file" class="form-control"
                                            (change)="onFileChange_contratoBecario($event)" #url_doc_contrato />
                                        <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                                style="color: #4180C2;width: 100%;"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom-file-button mb-2">
                                <div class="col-3">
                                    <label class="form-label" style="color: #636363;">Malla Curricular: </label>
                                </div>
                                <div class="col-9">
                                    <div class="input-group">
                                        <input type="file" class="form-control"
                                            (change)="onFileChange_id_malla_curricular($event)" #id_malla_curricular />
                                        <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                                style="color: #4180C2;width: 100%;"></i></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-4">
                            <div class="d-flex justify-content-center mb-4">
                                <img id="selectedAvatar"
                                    src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                    class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;"
                                    alt="example placeholder" />

                            </div>

                            <div class="w-75" style="margin: auto;">
                                <div class="d-flex justify-content-center">
                                    <label class="form-label text-center" style="color: #636363;">Foto
                                        Estudiante</label>
                                </div>
                                <div class="input-group">
                                    <input type="file" class="form-control"
                                        (change)="onFileChange_url_foto_estudiante($event)" />
                                    <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                            style="color: #4180C2;width: 100%;"></i></label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-7">
                                <h6 class="mt-2 mb-2"><strong>Ciclos Malla Curricular</strong></h6>
                            </div>
                            <div class="col-5 d-flex justify-content-end"><button class="btn text-primary"
                                    style="background-color: #ECF2F9;border: #4180C2 solid 1px;" type="button"
                                    routerLink="/addmodulo">Nuevo Ciclo</button></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <!--<div class="card-header" style="background-color: #ECF2F9;">
                            <h6 class="text-center my-auto">Ciclo I</h6>
                        </div>-->
                            <div class="card-body">
                                <div class="container table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr *ngFor="let ciclo of cicloCursoRelacion">
                                                <td class="text-center" style="background-color: #ECF2F9;">
                                                    {{ciclo.ciclo.nombre}}</td>
                                                <td><button class="btn btn-danger"
                                                        (click)="deleteCicloAll(ciclo.ciclo)">Delete All</button>
                                                    <button class="btn btn-warning"
                                                        (click)="selectCiclo(ciclo.ciclo.id)">Editar</button>
                                                </td>
                                                <td>
                                                    <table class="table table-bordered">
                                                        <thead class="bg-light">
                                                            <tr>
                                                                <th class="text-center">Nombre</th>
                                                                <th class="text-center">Tipo</th>
                                                                <th class="text-center">Créditos</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let curso of ciclo.cursos">
                                                                <td class="text-center">{{curso.Nombre}}</td>
                                                                <td class="text-center">{{curso.tipo}}</td>
                                                                <td class="text-center">{{curso.creditos}}</td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary" routerLink="/informacion-view" type="submit" (click)="submitForm()" [disabled]="myForm.invalid">Guardar
                                Información</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>



    </div>

</div>




<div class="modal fade" id="showNot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>Notificaciones</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><button class="btn-close"
                            data-bs-dismiss="modal"></button></div>

                </div>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                </ul>
            </div>

        </div>
    </div>