<div class="container-fluid">

    <div class="row">

        <div class="col-12 col-md-2" style="background-color: #4180C2;">
            <nav>

                <ul class="nav flex-column nav-fill nav-pills">

                    <li class="nav-item mb-2">
                        <a class="nav-link" href="#"><img
                                src="https://blobauroranuevo.blob.core.windows.net/images3d/fxemoji_graduationcap (1).png"
                                alt=""></a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text p-3" href="" routerLink="/detalle">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Question Circle.png"
                                alt="Icon">
                            <span>Detalle Académico</span>
                        </a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text active p-3"
                            style="background-color:rgba(255, 255, 255, 0.2);" href="" routerLink="/informacion">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Form.png" alt="Icon">
                            <span><strong>Información Beca</strong></span>
                        </a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text p-3" href="#" routerLink="/reporte-academico">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Data Trending (1).png"
                                alt="Icon">
                            <span>Reporte Rendimiento</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <div class="d-flex justify-content-center m-5">
                <button type="button" class="btn text-white rounded-circle" data-bs-toggle="modal"
                    data-bs-target="#showNot" style="background-color: rgba(255, 255, 255, 0.1);">
                    <i class="bi bi-bell"></i>
                </button>
            </div>
        </div>

        <div class="col-12 col-md-10" style="background-color: #F3F3F3;">

            <div class="card mt-4 mb-5">
                <div class="card-header">

                    <strong>Información de Periodo de Beca</strong>

                </div>
                <div class="row g-0">
                    <div class="col-12 col-md-8">
                        <div class="card-body">

                            <form>
                                <div class="row mb-3">
                                    <div class="col-12 col-md-3">
                                        <label class="form-label" style="color: #636363 ;">Nombres y Apellidos: </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" class="form-control disabled" formControlName="" name="" 
                                            value="Martín Smith Zambrano Guadalupe">
                                    </div>

                                </div>


                                <div class="row mb-3">
                                    <div class="col-12 col-md-3">
                                        <label class="form-label" style="color: #636363;">N° Doc. Identidad: </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" class="form-control disabled" formControlName="" name=""
                                            value="75009213">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 col-md-3">
                                        <label class="form-label" style="color: #636363;">Institución: </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" class="form-control disabled" formControlName="" name="" 
                                            value="UNIVERSIDAD CENTRAL II">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"><label class="form-label" style="color: #636363;">Fecha
                                                    Inicio:</label></div>
                                            <div class="col"><input type="date" class="form-control" formControlName=""
                                                    name=""></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"><label class="form-label" style="color: #636363;">Fecha Fin
                                                    Estimada:</label></div>
                                            <div class="col"><input type="date" class="form-control" formControlName=""
                                                    name=""></div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row mb-3">
                                    <div class="col-12 col-md-3" style="color: #636363;"><label
                                            class="form-label">Contrato: </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" class="form-control" />
                                    </div>

                                </div>


                                <div class="row mb-3">
                                    <div class="col-12 col-md-3" style="color: #636363;"><label class="form-label">Malla
                                            Curricular: </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" class="form-control" />
                                    </div>

                                </div>



                            </form>

                        </div>
                    </div>
                    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title text-center text-primary"
                                style="color: rgba(65, 128, 194, 1); font-size:x-large;">16/20</h5>
                            <h6 class="card-subtitle text-center text-muted">Promedio de Notas</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-7">
                            <h6 class="mt-2 mb-2"><strong>Ciclos Malla Curricular</strong></h6>
                        </div>
                        <div class="col-5 d-flex justify-content-end"><button class="btn text-primary"
                                style="background-color: #ECF2F9;border: #4180C2 solid 1px;" type="button"
                                routerLink="/addmodulo">Nuevo Ciclo</button></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header" style="background-color: #ECF2F9;">
                            <h6 class="text-center my-auto">Ciclo I</h6>
                        </div>
                        <div class="card-body">
                            <div class="container table-responsive">
                                <table class="table table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th class="text-center">Curso</th>
                                            <th class="text-center">Tipo</th>
                                            <th class="text-center">Créditos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">Ciencias</td>
                                            <td class="text-center">Obligatorio</td>
                                            <td class="text-center">6</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Ciencias</td>
                                            <td class="text-center">Obligatorio</td>
                                            <td class="text-center">6</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Ciencias</td>
                                            <td class="text-center">Obligatorio</td>
                                            <td class="text-center">6</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" routerLink="/informacion-view">Guardar Información</button>
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>




<div class="modal fade" id="showNot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>Notificaciones</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><button class="btn-close"
                            data-bs-dismiss="modal"></button></div>

                </div>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>