<div class="container py-4" style="max-width: 1200px; padding-top: 20px; padding-bottom: 20px;">

    <div class="row">

        <!-- Progress Bar Section -->
        <div class="col-md-4 p-5" style="background-color: #ECF3F9; ">

            <div class="container">
                <h3 style="font-weight: bold">Solicitud de Beca</h3>
            </div>

            <table class="container">
                <tr>
                    <td>
                        <i class="bi bi-check-circle-fill" style="color: #4180C2; font-size: 40px;"></i>
                    </td>
                    <td>
                        <label class="form-label m-2"
                            style="font-weight: bold; text-align: left; color: #4180C2;">Información
                            Académica</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-three-dots-vertical" style="color: #4180C2; font-size: 40px;"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-check-circle-fill" style="color: #4180C2; font-size: 40px;"></i>
                    </td>
                    <td>
                        <label class="form-label m-2" style="font-weight: bold; color:#4180C2;">Información
                            Académica</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-three-dots-vertical" style="color: #4180C2; font-size: 40px;"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-check-circle-fill" style="color: #4180C2; font-size: 40px;"></i>
                    </td>
                    <td>
                        <label class="form-label m-2" style="font-weight: bold; color: #4180C2;">Carga de
                            Documentos</label>
                    </td>
                </tr>
            </table>

            <!--
            <div class="d-flex align-items-center flex-column" style="height: 410px;">
              <button  class="btn btn-outline-primary col-md-10 mt-auto btn-sm">Subsanación</button>
            </div>
          -->


        </div>

        <!-- Form Section -->

        <div class="col-md-8 p-5" style="background-color: #F7F7F7; ">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-left" style="color: #4180C2;font-weight: bold">Carga de Documentos</h3>
                </div>
                <div class="card-body">
                    <!-- Form  -->
                    <form #uploadForm="ngForm" class="row g-3">
                        <div class="mb-3">
                            <span style="font-weight: bold;">Evidencia Académica *</span>
                            <div class="input-group">
                                <input type="file" (change)="onFileChange_evidencia_academica($event)"
                                    class="form-control" #url_evidencia />
                                <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                        style="color: #4180C2;width: 100%;"></i></label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <span style="font-weight: bold;">DNI (Anverso y Reverso) *</span>
                            <div class="input-group">
                                <input type="file" (change)="onFileChange_dni($event)" class="form-control" #url_dni />
                                <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                        style="color: #4180C2;width: 100%;"></i></label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <span style="font-weight: bold;">Certificado *</span>
                            <div class="input-group">
                                <input type="file" (change)="onFileChange_certifcado($event)" class="form-control"
                                    #url_certificado />
                                <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                        style="color: #4180C2;width: 100%;"></i></label>
                            </div>
                        </div>

                        <div class="mb-3 custom-file-button">
                            <span style="font-weight: bold;">Comprobante Domicilio *</span>
                            <div class="input-group">
                                <input type="file" (change)="onFileChange_comprobante($event)" class="form-control"
                                    #url_comprobante />
                                <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                        style="color: #4180C2;width: 100%;"></i></label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <button class="custom-button" style="width: 100%;" (click)="backtStepFinal()">Atras</button>
                        </div>
                        <div class="col-md-6">
                            <button class="custom-button" style="width: 100%;" (click)="onSubmit($event)"
                                type="submit">Solicitar
                                Beca</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

{{url_evidencia.files?.length}}
<pre>{{ formData | json }}</pre>

<!--    [disabled]="!url_evidencia.files?.length || !url_dni.files?.length || !url_certificado.files?.length || !url_comprobante.files?.length "-->