<div class="container py-4">
    <div class="card" style="background-color: #F3F3F3;">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h6 class="mb-2 mt-2">Nuevo Ciclo</h6>
                </div>
                <div class="col d-flex justify-content-end"><button class="btn-close mb-2 mt-2"
                        routerLink="/informacion"></button></div>
            </div>
        </div>
        <form #formEditMalla="ngForm">
            <div class="card-body">

                <p class="card-subtitle mb-2"><strong>Ciclo</strong></p>
                <div class="w-50">
                    <input type="text" class="form-control rounded" name="nombre" [(ngModel)]="nombre"  required/>
                </div>
                <div class="row mb-4">
                    <div class="col-4 col-md-6 d-flex align-items-center">
                        <span class="m-b mt-2"><strong>Cursos</strong></span>
                    </div>
                    <div class="col-8 col-md-6 d-flex justify-content-end">
                        <button class="btn btn-outline-primary w-50" data-bs-toggle="modal"
                            data-bs-target="#addCurso">Añadir Curso</button>
                    </div>

                </div>

                <div class="card mb-2">
                    <div class="card-body">
                        <div class="container table-responsive">
                            <table class="table table-bordered">
                                <thead class="bg-light">

                                    <tr>
                                        <th class="text-center">Curso</th>
                                        <th class="text-center">Tipo</th>
                                        <th class="text-center">Crédito</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let curso of cursos; let i = index">
                                        <td class="text-center">{{curso.Nombre}}</td>
                                        <td class="text-center">{{curso.tipo}}</td>
                                        <td class="text-center">{{curso.creditos}}</td>
                                        <td class="text-center">
                                            <div class="row">
                                                <div class="col-12 col-md-6 d-sm-flex justify-content-md-end">
                                                    <button type="button" class="btn btn-outline-primary"
                                                        (click)="editCurso(i)" data-bs-toggle="modal"
                                                        data-bs-target="#addCurso"><i
                                                            class="bi bi-pencil text-info"></i></button>
                                                </div>
                                                <div class="col-12 col-md-6 d-sm-flex justify-content-md-start">
                                                    <button type="button" class="btn btn-outline-danger"
                                                        (click)="deleteCurso(curso.id)"
                                                        style="background-color: rgba(234, 76, 83, 0.1); border: solid red 1px;"><i
                                                            class="bi bi-trash" style="color: red;"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary w-25" routerLink="/informacion" type="btn" (click)="updateCiclo()" [disabled]="formEditMalla.invalid">Guardar Ciclo</button>
                </div>

            </div>
        </form>

    </div>

</div>


<div class="modal fade" id="addCurso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>{{ editingIndex === null ? 'Añadir Curso' : 'Editar Curso' }}</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><button class="btn-close"
                            data-bs-dismiss="modal"></button></div>

                </div>
            </div>
            <div class="modal-body">
                <form #formMallaCurso="ngForm">
                    <div class="mb-3">
                        <label class="form-label text-dark">Curso: </label>
                        <input type="text" class="form-control" name="Nombre" [(ngModel)]="newCursoMalla.Nombre"
                            required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark">Tipo: </label>
                        <select class="form-select" name="tipo" required [(ngModel)]="newCursoMalla.tipo">
                            <option value="" selected disabled class="text-muted">Seleccione una opción</option>
                            <option value="Obligatorio">Obligatorio</option>
                            <option value="No Obligatorio">No Obligatorio</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-dark">Crédito: </label>
                        <input type="number" class="form-control" name="creditos" required
                            [(ngModel)]="newCursoMalla.creditos">
                    </div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-primary" type="submit" [disabled]="formMallaCurso.invalid"
                            data-bs-dismiss="modal" (click)="createCurso()">{{ editingIndex === null ?
                            'Añadir Curso' : 'Guardar Cambios' }}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

