<div class="container-fluid">

    <div class="row">

        <div class="col-12 col-md-2" style="background-color: #4180C2;">
            <nav>

                <ul class="nav flex-column nav-fill nav-pills">

                    <li class="nav-item mb-5">
                        <a class="nav-link" href="#"><img
                                src="https://blobauroranuevo.blob.core.windows.net/images3d/fxemoji_graduationcap (1).png"
                                alt=""></a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text active p-2"
                            style="background-color:rgba(255, 255, 255, 0.2);" href="#">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Question Circle.png"
                                alt="Icon">
                            <span><strong>Detalle Académico</strong></span>
                        </a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text p-2" href="" routerLink="/informacion">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Form.png" alt="Icon">
                            <span>Información Beca</span>
                        </a>
                    </li>

                    <li class="nav-item m-4">
                        <a class="nav-link text-white btn-image-text p-2" href="" routerLink="/reporte-academico">
                            <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Data Trending (1).png"
                                alt="Icon">
                            <span>Reporte Rendimiento</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <div class="d-flex justify-content-center" style="margin-top: 15rem; margin-bottom: 2rem;">
                <button type="button" class="btn text-white rounded-circle" data-bs-toggle="modal"
                    data-bs-target="#showNot" style="background-color: rgba(255, 255, 255, 0.1);">
                    <i class="bi bi-bell"></i>
                </button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn text-white rounded-circle" data-bs-toggle="modal"
                    data-bs-target="#updateUser" style="background-color: rgba(255, 255, 255, 0.1);">
                    <i class="bi bi-person-check"></i>
                </button>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 2rem;">
                <button type="button" class="btn text-white rounded-circle"
                    style="background-color: rgba(255, 255, 255, 0.1);" (click)="logout()">
                    <i class="bi bi-box-arrow-left"></i>
                </button>
            </div>
        </div>

        <div class="col-12 col-md-10" style="background-color: #F3F3F3;">

            <div class="card mt-4 mb-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <strong>Información del Estudiante</strong>
                        </div>
                        <div class="col-4">
                            <select class="form-select form-select-sm">
                                <option selected>Seleccionar un ciclo</option>
                                <option value="">Ciclo 2024</option>
                                <option value="">Ciclo 2023</option>
                                <option value="">Ciclo 2022</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-9 col-md-8">
                        <div class="card-body">
                            <div class="row g-0">
                                <div class="col-4 col-md-2">
                                    <p class="card-text"><strong>Nombre:</strong></p>
                                    <p class="card-text"><strong>Correo:</strong></p>
                                    <p class="card-text"><strong>Institución:</strong></p>
                                    <p class="card-text"><strong>Cursos:</strong></p>
                                    <p class="card-text"><strong>Créditos:</strong></p>
                                </div>
                                <div class="col-8 col-md-10">
                                    <p class="card-text text-muted">Martín Smith Zambrano Guadalupe</p>
                                    <p class="card-text text-muted">Martín Smith Zambrano Guadalupe</p>
                                    <p class="card-text text-muted">Universidad de ciencias departure</p>
                                    <p class="card-text text-muted">5</p>
                                    <p class="card-text text-muted">32.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title text-center text-primary"
                                style="color: rgba(65, 128, 194, 1); font-size:x-large;">16/20</h5>
                            <h6 class="card-subtitle text-center text-muted">Promedio de Notas</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <strong>Calificaciones</strong>
                </div>
                <div class="card-body">
                    <div class="container table-responsive">
                        <h6>Ciclo 2024-1 (01/04/2024 - 30/06/2024)</h6>
                        <table class="table table-bordered">
                            <thead class="bg-light">
                                <tr>
                                    <th class="text-center">Curso</th>
                                    <th class="text-center">Créditos</th>
                                    <th class="text-center">Nota</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">Ciencias</td>
                                    <td class="text-center">45</td>
                                    <td class="text-center">6</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Ciencias</td>
                                    <td class="text-center">45</td>
                                    <td class="text-center">6</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Ciencias</td>
                                    <td class="text-center">45</td>
                                    <td class="text-center">6</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="container table-responsive">
                        <h6>Ciclo 2024-1 (01/04/2024 - 30/06/2024)</h6>
                        <table class="table table-bordered">
                            <thead class="bg-light">
                                <tr>
                                    <th class="text-center">Curso</th>
                                    <th class="text-center">Créditos</th>
                                    <th class="text-center">Nota</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">Ciencias</td>
                                    <td class="text-center">45</td>
                                    <td class="text-center">6</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Ciencias</td>
                                    <td class="text-center">45</td>
                                    <td class="text-center">6</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Ciencias</td>
                                    <td class="text-center">45</td>
                                    <td class="text-center">6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container table-responsive">
                        <h6>Evidencia de notas</h6>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="cargarArchivo">
                            <label class="input-group-text" for=""><i class="bi bi-cloud-arrow-down-fill"
                                    style="color: #4180C2;"></i></label>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>



<div class="modal fade" id="contrato_becario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contrato de Becario</h5>
            </div>
            <div class="modal-body">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item"
                        src="https://blobauroranuevo.blob.core.windows.net/images3d/Contrato_Aceptacion_Beca.pdf"
                        width="100%" height="600px"></iframe>
                </div>
            </div>
            <div class="modal-footer mx-auto">
                <div class="row">
                    <div class="col-12 mb-3 d-flex justify-content-center ">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="contrato" id="contrato"
                                (change)="onCheckboxChange($event)">
                            <label class="form-check-label" for="contrato"
                                style="font-size: larger; margin-left: 5px;">Acepto todos los términos de la fundación y
                                me comprometo a cumplir todo lo estipulado.</label>
                        </div>
                    </div>
                    <div class="col-12 mb-2 d-grid">
                        <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!isChecked"
                            (click)="aceptarContrato(solicitud)">Empezar a usar
                            la Intranet</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="showNot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>Notificaciones</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><button class="btn-close"
                            data-bs-dismiss="modal"></button></div>

                </div>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>Actualizar Contraseña</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><button class="btn-close"
                            data-bs-dismiss="modal"></button></div>

                </div>
            </div>
            <div class="modal-body">
                <form [formGroup]="formUpdateLogin">
                    <div class="mb-3">
                        <label class="form-label text-dark">DNI: </label>
                        <input type="text" class="form-control" formControlName="dni" name="" value="" readonly >
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark">Contraseña Actual: </label>
                        <input type="password" class="form-control" formControlName="antiguaClave" name="antiguaClave" value="">
                        @if(formUpdateLogin.get('antiguaClave')?.errors?.['required'] &&
                        formUpdateLogin.get('antiguaClave')?.touched)
                        {<div class="mistake">
                            Por favor coloque su contraseña actual correctamente
                        </div>
                        }
                
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-dark">Nueva Contraseña: </label>
                        <input type="password" class="form-control" formControlName="nuevaClave" name="" value="">
                        @if(formUpdateLogin.get('nuevaClave')?.errors?.['required'] &&
                        formUpdateLogin.get('nuevaClave')?.touched)
                        {<div class="mistake">
                            Por favor coloque su nueva contraseña correctamente
                        </div>
                        }
                    </div>
                    <div class="d-grid mb-2">
                        <button class="btn btn-primary" [disabled]="!formUpdateLogin.valid"
                            (click)="updateLogin()" data-bs-dismiss="modal">Guardar Cambios</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{{solicitud| json}}