<div class="container py-4" style="max-width: 1200px; padding-top: 20px; padding-bottom: 20px;">

    <div class="row">

        <!-- Progress Bar Section -->
        <div class="col-md-4 p-5" style="background-color: #ECF3F9; ">

            <div class="container">
                <h3 style="font-weight: bold">Solicitud de Beca</h3>
            </div>

            <table class="container">
                <tr>
                    <td>
                        <i class="bi bi-check-circle-fill" style="color: #4180C2; font-size: 40px;"></i>
                    </td>
                    <td>
                        <label class="form-label m-2"
                            style="font-weight: bold; text-align: left; color: #4180C2;">Información
                            Académica</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-three-dots-vertical" style="color: #4180C2; font-size: 40px;"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-check-circle-fill" style="color: #4180C2; font-size: 40px;"></i>
                    </td>
                    <td>
                        <label class="form-label m-2" style="font-weight: bold; color:#4180C2;">Información
                            Académica</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-three-dots-vertical" style="color: #939393; font-size: 40px;"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-check-circle" style="color: #939393; font-size: 40px;"></i>
                    </td>
                    <td>
                        <label class="form-label m-2" style="font-weight: bold; color: #939393;">Carga de
                            Documentos</label>
                    </td>
                </tr>
            </table>


            <div class="d-flex align-items-center flex-column" style="height: 410px;">
                <button class="btn btn-outline-primary col-md-10 mt-auto btn-sm"
                    (click)="openDialog()">Subsanación</button>
            </div>



        </div>

        <!-- Form Section -->

        <div class="col-md-8 p-5" style="background-color: #F7F7F7; ">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-left" style="color: #4180C2;font-weight: bold">Información Personal</h3>
                </div>
                <div class="card-body">
                    <form class="row g-3" [formGroup]="registrationForm" (submit)="onSubmit()">

                        <div class="mb-3">
                            <label class="form-label" style="font-weight: bold;">Nombre de la Institución *</label>
                            <input type="text" class="form-control" formControlName="nombre_institucion">
                            @if(registrationForm.get('nombre_institucion')?.errors?.['required'] &&
                            registrationForm.get('nombre_institucion')?.touched)
                            {<div class="mistake">
                                Por favor ingresa el nombre de la institución.
                            </div>}
                        </div>

                        <div class="col-md-4">
                            <label class="form-label" style="font-weight: bold;">Departamento *</label>
                            <select class="form-select" formControlName="institucion_departamento"
                                style="font-size: small;">
                                <option value="" selected disabled>Seleccione una opción</option>
                                <ng-container *ngFor="let departamento of departamentoList">
                                    <option>{{ departamento}}</option>
                                </ng-container>
                            </select>
                            @if(registrationForm.get('institucion_departamento')?.errors?.['required'] &&
                            registrationForm.get('institucion_departamento')?.touched)
                            {<div class="mistake">
                                Por favor seleccione su departamento.
                            </div>
                            }
                        </div>


                        <div class="col-md-4">
                            <label class="form-label" style="font-weight: bold;">Provincia *</label>
                            <select class="form-select" formControlName="institucion_provincia"
                                style="font-size: small;">
                                <option value="" selected disabled>Seleccione una opción</option>
                                <ng-container *ngFor="let provincia of peruProvinces">
                                    <option>{{ provincia}}</option>
                                </ng-container>
                            </select>
                            @if(registrationForm.get('institucion_provincia')?.errors?.['required'] &&
                            registrationForm.get('institucion_provincia')?.touched)
                            {<div class="mistake">
                                Por favor seleccione su provincia.
                            </div>}
                        </div>

                        <div class="col-md-4">
                            <label class="form-label" style="font-weight: bold;">Distrito *</label>
                            <select class="form-select" formControlName="institucion_distrito"
                                style="font-size: small;">
                                <option value="" selected disabled>Seleccione una opción</option>
                                <ng-container *ngFor="let distrito of limaDistricts">
                                    <option>{{distrito}}</option>
                                </ng-container>
                            </select>
                            @if(registrationForm.get('institucion_distrito')?.errors?.['required'] &&
                            registrationForm.get('institucion_distrito')?.touched)
                            {<div class="mistake">
                                Por favor seleccione su distrito.
                            </div>}
                        </div>

                        <div class="mb-3">
                            <label class="form-label" style="font-weight: bold;">Dirección de la Institución *</label>
                            <input type="text" class="form-control" formControlName="institucion_direccion">
                            @if(registrationForm.get('institucion_direccion')?.errors?.['required'] &&
                            registrationForm.get('institucion_direccion')?.touched)
                            {<div class="mistake">
                                Por favor ingrese su dirección.
                            </div>}
                        </div>

                        <div class="col-md-8">
                            <label class="form-label" style="font-weight: bold;">Tipo de Educación *</label>
                            <select class="form-select" formControlName="tipo_educacion" style="font-size: small;">
                                <option value="" selected disabled>Seleccione una opción</option>
                                <option>Pública</option>
                                <option>Privada</option>
                            </select>
                            @if(registrationForm.get('tipo_educacion')?.errors?.['required'] &&
                            registrationForm.get('tipo_educacion')?.touched)
                            {<div class="mistake">
                                Por favor seleccione su tipo de educación.
                            </div>}
                        </div>

                        <div class="col-md-4">
                            <label class="form-label" style="font-weight: bold;">Promedio Académico *</label>
                            <input type="number" class="form-control" formControlName="promedio_academico"
                                id="promedio_academico">
                            @if(registrationForm.get('promedio_academico')?.errors?.['required'] &&
                            registrationForm.get('promedio_academico')?.touched)
                            {<div class="mistake">
                                Por favor ingrese su promedio académico.
                            </div>}
                        </div>

                        <div class="mb-3">
                            <label class="form-label" style="font-weight: bold;">Motivo de Solicitud *</label>
                            <textarea class="form-control" rows="5" formControlName="motivo_solicitud"></textarea>
                            @if(registrationForm.get('motivo_solicitud')?.errors?.['required'] &&
                            registrationForm.get('motivo_solicitud')?.touched)
                            {<div class="mistake">
                                Por favor ingrese el motivo de su solicitud.
                            </div>}
                        </div>

                        <div class="col-md-6">
                            <button class="custom-button" (click)="backtStep()" style="width: 100%;">Atras</button>
                        </div>
                        <div class="col-md-6">
                            <button class="custom-button" style="width: 100%;" (click)="saveNextFields()"
                                [disabled]="!registrationForm.valid">Siguiente</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>

</div>